* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-parent {
  display: flex;
  flex-direction: column;
}
.navBar {
  background-color: black;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 550;
}

/* .navBar .navReg{
  margin:auto;
  padding: auto;
  max-height: fit-content;
  color: #f2f2f2;
  background-color: #ff014f;
  border: #ff014f;
  border-radius: 5px;
} */

.navBar ul {
  overflow: auto;
}

.navBar ul a {
  float: inline-start;
  /* margin-top: 20px; */
  padding: 10px;
  text-decoration: none;
}

.navBar li {
  float: left;
  list-style: none;
  display: inline;
  margin: 13px 20px;
}

.navBar li a {
  text-decoration: none;
  padding: 3px 3px;
  color: aliceblue;
}

.navBar li a:hover {
  padding: 5px;
  margin: auto;
  /* background-color: orangered; */
  color: orangered;
  /* border: orangered; */
  /* border-radius: 20px; */
}
.contact {
  /* color: white; */
  float: inline-end;
}

.contact ul a:hover {
  padding: 6px 8px 6px 8px;
  background-color: orangered;
  color: white;
  border: orangered;
  border-radius: 20px;
}

.scrollingText marquee {
  padding: 3px;
}

.scrollingText p {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.container {
  float: left;
  margin: 100px;
  padding: auto;
  justify-content: space-around;
}

.leftCol {
  clear: left;
  float: left;
  padding-top: 180px;
  /* padding: 20px; */
  padding-left: 250px;
}

.rightCol {
  clear: right;
  float: right;
  margin-left: 10px;
  padding-right: 250px;
}

.section1 h1 {
  font-size: 45px;
  color: rgb(88, 86, 86);
}
.section1 h1 span {
  color: #ff014f;
}

.section1 .enroll {
  color: gray;
  font-weight: 600;
  font-size: 20px;
}
.section1 a button {
  background-color: orange;
  border: #ff014f;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.section1 img {
  /* width: 500px; */
  height: 500px;
}

.section2 {
  /* background-color: antiquewhite; */
  justify-content: space-around;
  text-align: center;
}
.section2 h1 {
  font-size: 35px;
  color: rgb(75, 75, 75);
}
.section2 .rowImgDiv {
  justify-content: space-around;
}
.rowImgDiv img {
  height: 120px;
  padding: 30px;
}

.aboutUs {
  background-color: #f2f2f2;
  text-align: center;
  color: rgb(75, 75, 75);
  justify-content: space-around;
}
.aboutUs h1{
  padding: 10px;
  /* margin-bottom: px; */
}

.row{
  margin-top: 3%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.about-img{
  margin-left: 15%;
}
.about-img img {
border: solid 0;
border-radius: 15px;  
}
.about-text {
margin: 2% 3% ;
padding-left: 1px;
margin-right: 15% ;
}
.about-text h3 {
color: rgb(76, 73, 73);
text-align: left;
font-size: 22px;
margin-bottom: 10px;
}
.about-text p {
text-align: left;
font-size: 16px;
color: rgb(154, 154, 154);
text-align: justify;
padding: 10px;
}
.followUs-footer {
  background-color: black;
  padding-top: 0px;
  padding-left: 150px;
  margin-top: 0px;
  overflow: hidden;
}
.followUs-footer .followUs-footer-img {
  float: left;
  margin: 10px;
  padding: 50px;
}
.followUs-contacts span {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
.followUs-contacts .contact-icons ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
}
.subcribe-footer {
  float: right;
  color: white;
  padding-top: 50px;
  padding-right: 150px;
}
.subcribe-footer p {
  text-align: left;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 14px;
}
.subscribe-form input {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 0%;
  margin: 0;
  background-color: transparent;
}
.subscribe-form button {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin: 0;
  background-color: orangered;
}

.footer-container {
  background-color: black;
  color: lightgray;
  justify-content: space-around;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer-container p {
  text-align: center;
}

.footer-menu {
  /* float: right; */
  /* overflow: hidden; */
  display: flex;
  justify-content: end;
  padding-right: 5%;
  font-size: 12px;
}

.footer-menu ul {
  list-style: none;
  text-decoration: none;
  padding-right: 50px;
}
.footer-menu ul li {
  float: left;
  list-style: none;
  display: inline;
  margin: 13px 20px;
}
.footer-menu li a {
  text-decoration: none;
  padding: 3px 3px;
  color: lightgray;
}

.whatsapp a img {
  border: solid 15px white;
  background-color: white;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
