.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.about-container {
  /* background-color: rgb(120, 28, 28); */
  min-height: 0%;
}

.aboutDiv {
  padding: 15px;
  background-color: #f2f2f2;
  text-align: center;
  color: rgb(70, 70, 70);
  justify-content: space-around;
  margin-bottom: 10px;
}
.aboutDiv h1 {
  margin-bottom: 20px;
}
.row {
  margin-top: 3%;
  display: flex;
  align-items: flex-start;
}
.about-img {
  margin-left: 15%;
}
.about-img img {
  border: solid 0;
  border-radius: 15px;
}
.about-text {
  margin: 2% 3%;
  padding-left: 1px;
  margin-right: 15%;
}
.about-text h3 {
  color: rgb(76, 73, 73);
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
}
.about-text p {
  text-align: left;
  font-size: 16px;
  color: rgb(154, 154, 154);
  text-align: justify;
  padding: 10px;
}

/* -----BOX---- */
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-height: fit-content;
}
.boxOne {
  background-color: white;
  height: 27vh;
  width: 50vh;
  border-top: solid 5px red;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.boxThree {
  background-color: white;
  height: 27vh;
  width: 50vh;
  border-top: solid 5px #FCB961;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: -150px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.boxTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 5px;
  position: relative;
  top: -70px;
  flex-wrap: wrap;
  gap: 400px;
}
.boxTwo div {
  background-color: white;
  height: 27vh;
  width: 50vh;
  border-top: solid 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.Container h1{
  text-align: left;
  padding: 15px 15px 15px 35px;
  color: rgb(70, 70, 70);
}
.Container img{
  text-align: end;
  margin: 10px 0 10px 25vh;
}

/* --------our team----- */
.ourTeam{
  
}
.ourTeam .headerText{
  padding: 15px;
  background-color: #f2f2f2;
  text-align: center;
  color: rgb(70, 70, 70);
  justify-content: space-around;
  margin-bottom: 10px;

}
.ourTeam h1 {
  margin-bottom: 20px;
}
.slide-Container{
  height: 40vh;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
.box{
  height: 20vh;
  width: 20vh;
}
