/* --Register Page---------------------------------------------------- */
/* .formDiv {
  margin: 5% 5% 5% 5%;
  padding: 2% 2% 2% 2%;
  max-height: max-content;
  max-width: max-content;
  background: solid lightgray;
  border: solid lightgrey;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 10px rgb(209, 207, 207);
} */

.regform-header {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  background-color: orangered;
  border: solid 5px orangered;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
}
.form-col{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.col1{
    
    border: soild 2px green;
    background: lightblue;
    height: 100px;
    width: 400px;

}
.col2{
    
    background: pink;
    height: 100px;
    width: 400px;
}
/* .form-col1 {
  margin-left: 1%;
  margin-right: 1%;
  height: fit-content;
  width: fit-content;
  float: inline-start;
  margin-bottom: 5px;
}
.form-col1 input{
    padding: 5px 15px 0 5px;
}
.form-col1 select{
  padding: 5px 15px 0 5px;
}

.form-col2 {
  margin-left: 1%;
  margin-right: 1%;
  height: fit-content;
  width: fit-content;
  float: inline-start;
  margin-bottom: 5px;
} */
.redColor {
  color: red;
}

.form-notice {
  background: white;
  padding: 10px;
  margin: 10px;
  border: solid 3px orange;
  border-radius: 20px;
  display: flex;
}

.form-btn {
  /* display: flex; */
  margin-top: 200px;
  margin-left: 50%;
  margin-right: 50%;
  height: fit-content;
  width: fit-content;
  
}
.form-btn a {
  text-decoration: none;
}
.form-btn button {
  display: flex;
  background-color: orangered;
  border: solid 5px orangered;
  border-radius: 15px;
  color: white;
  height: 30px;
}

.form-list {
  color: red;
}

.form-notice{
    margin-top: 100px;
    margin-left: 10px;

}
.form-notice p{
    margin-top: 100px;
    margin-left: 10px;

  color: green;
}
